DJANGO_SECRET_KEY=replace-with-a-long-random-secret
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
PGDATABASE=kitobyor
PGUSER=kitobyor
PGPASSWORD=replace-with-a-database-password
PGHOST=127.0.0.1
PGPORT=5432
